h1{
    color:rgb(0, 119, 255)
}

img{
    width:400px
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: skyblue;
    padding: 50px;
    border: 10px rgb(241, 9, 55) solid;
}

#spanId{
    font-size:18px;
    margin: 50px;
}

/* * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  } */